

@media screen and (max-width: 340px) and (min-width:0px){

    .container{
        margin-top:35px;
        background-color:white;
        width:80%;
        height:auto;
        border:solid grey 2px;
    }

    #me{
        position: relative;;
        left:5%;
        margin-top:25px;
        border-radius:100%;
        width:90%;
        opacity: .9;
        padding:35px;
        border:grey dotted 3px;
       
    }
    
    #about{
        position:absolute;
        left:45%;
        top:7%;
        z-index:2;
    }
    
    #portfolio{
        position:absolute;
        left:17%;
        top:38%;
        z-index:2;
    }
    
    #contact{
        position:absolute;
        right:-12%;
        top:38%;
        z-index:2;
    }
    
    
    #portfolio-icon, #contact-icon, #about-icon{
        width:30%;
        
    
    }

    h2#connect{
       font-size: 14pt;
    }

    #connect{
        margin-top:-10px;
        margin-bottom:30px;
        position:relative;
        left:22%;
    }

    .social img{
        position:relative;
        left:5%;
        border:1px solid beige;
        border-radius:100%;
        height:35px;
        margin:10px 15px 10px 15px;
    
    }
    


}
        