#contactme{
    width:100%;
    text-align: center;
    color:grey;

}

.list-group-item{
    color:grey;
}

.card{
    padding:2%;
}

a.list-group-item{
    color:grey;
}

a.list-group-item:hover{
    color:rgb(117, 245, 117);
}


.nav-link:hover{
    color:rgb(117, 245, 117);
    

}

ul{
    color:white;
}

a{
    color:inherit;
    text-decoration: none;
}

a:hover 
{
     color:black;
     text-decoration:none; 
  
}

.container{
    margin:5%;
    background-color:white;
    max-width: 1080px;
    height:auto;
    border:solid grey 2px;
    border-radius: 8px;
    opacity: 0.9;
    font-family:Mina, sans-serif;
    font-size: 10pt;
    text-transform: none;



}

#myinfo{
    overflow: auto;
    font-family:Mina, sans-serif;
    font-size: 10pt;
    text-transform: none;
    height:500px;
}

#carouselExampleIndicators{
    margin-top:20px;
}

#me{
    position: relative;;
    left:25%;
    margin-top:25px;
    border-radius:100%;
    width:45%;
    opacity: .9;
    padding:50px;
    border:grey dotted 3px;
   
}

#about{
    position:absolute;
    left:45%;
    top:0%;
    z-index:2;
}

#portfolio{
    position:absolute;
    left:31%;
    top:45%;
    z-index:2;
}

#contact{
    position:absolute;
    right:31%;
    top:45%;
    z-index:2;
}


#portfolio-icon, #contact-icon{
    width:75%;
    

}

#about-icon{
    width:75%;
    
  

}

::-webkit-scrollbar {
    width: 14px;
}


::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px black; 
    border-radius: 50px;
}


::-webkit-scrollbar-thumb {
    background:rgb(66, 66, 66);
    border-radius: 50px;
}

.social img{
    position:relative;
    left:34%;
    border:1px solid beige;
    border-radius:100%;
    height:60px;
    margin:10px 30px 10px 30px;

}


.social{
    color:grey;
    margin-top:50px;
    margin-bottom:10px;
    border-bottom:solid 1px black;

}
#connect{
    position:relative;
    left:40%;
}



 .social img:hover{
    opacity: .8;
        
 }

.nav-icon{
    width:100px;
    position: relative;
    left:0%;
}

img.nav-icon{
   margin-left:165px;
}

.nav{
    margin-top:50px;
    border-bottom:1px grey solid;
}

#icon-container{
    margin-left:60px;
    margin-bottom:20px;
}

.carousel-inner{
    width:70%;
    height:70%;
    

}

.carousel-control-next{
    right:33%;
   
}


span.carousel-control-prev-icon,span.carousel-control-next-icon{

    background-color:rgb(6, 209, 245);

}

#carouselExampleIndicators{
    left:15%;
}

.carousel-item.h1{
    text-align: center;

}

#about-container{
    padding:20px 100px 0px 100px;
    
}


.carousel-item h4{
    color:grey;
    text-align: center;
    margin-top:20px;
}